body{
    margin: 0;
    overflow: hidden; /* Evita barras de desplazamiento */
    background-color: #1a1a1a; /* Un fondo más oscuro para contrastar con la cocina */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}